<% layout('layouts/boilerplate') %>
    <h1>Find All the Users!!</h1>
    <div>
        <a href="/users/new">Add Yourself In!!</a>
    </div>
    <ul>
        <% for (let user of users) { %>
            <li><a href="/users/<%= user._id %>"><%= user.fullName %></a></li> 
        <% } %>
    </ul>

